.env
.venv/
.vscode/
__pycache__/
*/__pycache__/
pycbc_venv/
old/

flexibleAgents/tempConversation/*
flexibleAgents/documentCorpus/*
flexibleAgents/chromaDatabase/*
flexibleAgents/parsedDocs/*

api_test.py
test.py

GW_Conversations/reference.py
GW_Conversations/bilby_vis.py
GW_Conversations/load_test.py
GW_Conversations/outdir/
GW_Conversations/.distance_marginalization_lookup.npz