.env
.venv/
.vscode/
__pycache__/
*/__pycache__/

flexibleAgents/tempConversation/*
flexibleAgents/documentCorpus/*
flexibleAgents/chromaDatabase/*
flexibleAgents/parsedDocs/*

testing/problems/*

api_test.py