.env
.venv/
.vscode/
__pycache__/
*/__pycache__/
pycbc_venv/
old/

flexibleAgents/tempConversation/
flexibleAgents/documentCorpus/
flexibleAgents/chromaDatabase/
flexibleAgents/parsedDocs/

api_test.py
test.py

GW_Conversations/bilby reference/